<!DOCTYPE html>
<html>

<head>
  <script type="text/javascript" src="/scripts/socket.io-1.4.5.js"></script>
  <script type="text/javascript" src="/scripts/clientJS.js"></script>

</head>

<body>
<h1>test</h1>
</body>

</html>
